.card {
  flex-direction: row;
  flex-wrap: nowrap;
}

.poster-container {
  max-height: 300px;
}

.poster-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-container {
  width: 100%;
  flex-direction: column;
}

.detail-title {
  color: #4b4b4b;
}

.ratings-list p::before {
  content: "-";
}

.ratings-list p {
  margin-left: 15px;
}

.card-footer {
  justify-self: flex-end;
}

.movie-year {
  color: gray;
}
